{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "never",
        "parser": "markdown",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
