---
title: 在职证明文件
description: 在职证明文件模板，包含入职和离职日期、职位等信息。
outline: deep
lastUpdated: 2026-08-17
createdDate: 2025-05-28
---
# 在职证明文件

在Atomeocean轻量工作的员工获得用于证明职位有效期的文件的方法

## Logbook员工页面获取

每一名Atomeocean在职员工可以根据
[这个教程](/guide/light-weight-work/paperwork/employment-verification.md)

在 Logbook 个人员工页面上获取到在职月份的证明文件

> [!CAUTION] 以上面为准
> 请忽略下方的旧版内容

## 旧版

### 在职证明

每个月在职员工会收到一份如下的证明文件，用于证明职位有效，有效期覆盖一整个月。

```text
Certificate of Position Validity

This is to certify that the position of [Job Title] held by [Employee's Full Name] at Atomeocean was valid until [Month-Day, Year].

职位有效性证明

兹证明，[员工姓名]在Atomeocean公司担任的 [职位名称] 一职，其有效性截止至 [年] 月 [日]。

特此证明。
```


### 离职证明

员工向公司提出离职申请获得批准后，会收到如下证明文件，职位有效期以HR和员工协商为准

```text
To Whom It May Concern,

This is to certify that Yuhang Hou was employed by Atomeocean from 2022-01-19 to 2024-12-19 in the capacity of UX Designer.

During the period of employment, she fulfilled all assigned responsibilities with professionalism and dedication. This letter also serves as confirmation that she has formally resigned from the position, and the resignation has been accepted by the company.

We wish Yuhang Hou success in her future endeavors.

Sincerely,
```

### 替换的内容

替换名字

```text
Yuhang Hou
```

#### 替换日期
入职日期
```text
2022-01-19
```

离职日期
```text
2024-12-19
```

替换职位
```text
UX Designer
```

## 备注

1. 正式版文件以PDF格式为准
2. 查阅[Atomeocean离职流程](/guide/light-weight-work/offboarding/employee-voluntary-resignation.md)
